.navbar {

  display: flex;
  align-items: center;
  flex-direction: column;

  width: 10%;
  height: 100%;

  background-color: #494748;

  img {
    margin-top: 30px;
    width: 88px;
    height: 100px;
    object-fit: contain;
  }

  &__list {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-top: 20px;
    list-style: none;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      appearance: none;
    }

    &::-webkit-scrollbar:vertical {
      width: 10px;
    }

    &::-webkit-scrollbar:horizontal {
      height: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #797979;
      border-radius: 20px;
      border: 2px solid #f1f2f3;
    }

    &::-webkit-scrollbar-track {
      border-radius: 10px;
    }

    &__element {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 55px;
      width: 90%;
      border-bottom: 1px #fff solid;
      transition: 0.2s;

      a {
        color: #fff;
        text-decoration: none;
      }

      &:hover {
        transform: scale(1.02);
      }

    }
  }
}